@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #232F3E;
}

body::-webkit-scrollbar-thumb {
    background-color: #FE500A;
    border-radius: 5px;
}

/*social style*/
.social-outer {
    width: 50px;
    height: 200px;
    background-color: red;
    position: fixed;
    right: 0;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.social-inner-wrap {
    flex: 1;
   /* border: 1px solid black;*/
    position: relative;
}

.slide-context {
    background-color: white;
    width: 150px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;

    color: #FE500A;
    font-size: 15px;
    padding: 0 10px;
}

.social-inner-wrap:hover > .slide-context {
    right: 49px;
}
.social-logo{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-logo:hover{
 background-color: #FF500A;
    color: white;
}

/*social style*/


.main-slider-outer {
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapershome.com/images/wallpapers/miami-3840x2160-south-beach-hotel-pool-sunbed-water-palm-sky-sea-1130.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*nav styles*/

.nav-outer {
    width: 100%;
    height: 70px;
    background-color: #0F172B;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 100;
}

.logo-outer {
    /*border: 1px solid red;*/
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.logo-outer > img {
    height: 50px;
}

.nav-bar-context {
    /*border: 1px solid red;*/
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*nav*/
.nav {
    list-style: none;
    display: flex;
}

.nav > li > span > a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

.nav > li {
    border-bottom: 2px solid transparent;
    transition: 1s ease-in-out;
    display: flex;
    align-items: center;
}

.line {
    width: 2px;
    height: 10px;
    background-color: white;
    margin: 0 20px;
}

.nav > li:last-child {
    border-right: 0;
    padding-right: 0;
}

.nav > li:hover {
    cursor: pointer;
    /*border-bottom: 2px solid white;*/
    border-color: white;
}

.nav > li:hover > span > a {
    color: #FE500A;
}

/*.nav > li:nth-child(3){
    border-bottom: 1px solid white;
}*/

.book-button {
    padding: 8px 15px;
    background: none;
    margin: 0 20px;
    border: 1px solid #FE500A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.book-button:hover {
    background-color: #FE500A;
    color: white;
}

/*nav*/

/*search style*/
.search-wrapper {
    width: 400px;
    margin-right: 10px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.search-type {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 50px;
    height: 100%;
    background-color: #DADADA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-wrapper > input[type=search] {
    flex: 1;
    background: none;
    border: none;
    padding: 0 15px;
    /*text-align: right;*/
}

.search-wrapper > input[type=search]:focus {
    outline: none;
}

.search-icon {
    width: 50px;
    height: 100%;
    background-color: #FE500A;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*search style*/

/*slider-middle-text style*/
.middle-text-outer{
    width: 100%;
    height: 150px;
   /* border: 1px solid red;*/
    position: relative;
}
.book-today-text{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #0A5AFE;
    font-size: 55px;
}
.weekend-offer-text{
    text-align: center;
    color: #0A5AFE;
    font-weight: bold;
    font-family: 'Alkalami', serif;
}
/*slider-middle-text style*/

/*booking-widget-style*/
.widget-main-outer{
    width: 100%;
    height: 70px;
   /* border: 1px solid red;*/
    margin-top: 50px;
}
.widget-inner{
    width: 80%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    display: flex;
}
.widget-components-wrapper:first-child{
    width: 40%;
}
.widget-components-wrapper{
    height: 100%;
   /* border: 1px solid red;*/
    width: 20%;
    display: flex;
}
.widget-components-wrapper > input[type=date],
.widget-components-wrapper > select{
    flex: 1;
    padding: 0 20px;
    font-size: 16px;
    border: none;
}
.widget-components-wrapper > input[type=date]:focus,
.widget-components-wrapper > select:focus
{
    outline: none;
}
.widget-components-wrapper > input[type=submit]{
    flex: 1;
    border: none;
    background-color: #FF500A;
    color: white;
    font-size: 16px;
}
.widget-components-wrapper > input[type=submit]:hover{
    background-color: #0F172B;
    color: white;
    cursor: pointer;
}

/*booking-widget-style*/

/*nav styles*/

/*about styles*/
.about-wrapper{
    width: 100%;
    height: 300px;
   /* border: 1px solid red;*/
    display: flex;
}
.about-inner:first-child{
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.about-inner{
   /* border: 1px solid red;*/
    flex: 1;
    display: flex;
    align-items: center;
}
.about-inner> p{
    font-size: 16px;
    color: darkgray;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
    line-height: 30px;
    text-align: justify;
}
.welcome-text{
    color: #FE500A;
    font-size: 80px;
    text-align: center;
    /*border: 1px solid red;*/
    width: 100%;
    font-family: 'Dancing Script', cursive;
}
.enjoy-text{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: -40px;
}
/*about styles*/