*{
    margin: 0;
    padding: 0;
}
.main-slider-outer{
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapershome.com/images/wallpapers/miami-3840x2160-south-beach-hotel-pool-sunbed-water-palm-sky-sea-1130.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*nav styles*/

.nav-outer{
    width: 100%;
    height: 70px;
    background-color: #0F172B;

    display: flex;
}
.logo-outer{
    /*border: 1px solid red;*/
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-outer > img{
    height: 50px;
}
.nav-bar-context{
    border: 1px solid red;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*nav*/
.nav{
    list-style: none;
    display: flex;
}
.nav > li > span > a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.nav > li{
    margin: 0 15px;
    border-right: 1px solid white;
    padding: 5px 15px;
}
.nav > li:last-child{
    border-right: 0;
    padding-right: 0;
}

.nav > li:hover{
    cursor: pointer;
    border: 1px solid red;
}
/*.nav > li:nth-child(3){
    border-bottom: 1px solid white;
}*/
/*nav*/

/*nav styles*/